<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fa fa-bars" (click)="sideBarService.toggle()"></i>
  <button class="navbar-toggler"  type="button"
                                  data-toggle="collapse"
                                  data-target="#navbarSupportedContent"
                                  aria-controls="navbarSupportedContent"
                                  aria-expanded="false"
                                  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>        
      </li>
      <a class="nav-link" routerLink="/relays">Relays</a>
      <li class="nav-item dropdown">
        <a  *ngIf="true"
            class="nav-link dropdown-toggle"
            href="#" id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/people">People</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/categories">Categories</a>
          <a class="dropdown-item" routerLink="/producers">Producers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/scheduler">Scheduler</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authentication.isLoggedIn" routerLink="/login">
          <i class="fa fa-user"></i>
        </a>
        <div class="login" *ngIf="authentication.isLoggedIn">
          <a class="nav-link" routerLink="/userprofile">{{authentication.fullName}}</a>
          <a class="nav-link" *ngIf="authentication.isLoggedIn" (click)="doLogout()">
            <i class="fa fa-sign-out"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
