//* Styleguide General font families *//

$font-family-1: 'Arial';
$font-family-2: 'sans-serif';

//* Styleguide General font families *//

$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-bolder: 800;
